<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-12 mb-3 fs-3">You are not authorized to enter</div>
    <div class="col-12">
      <a class="btn btn-primary" href="/login">Log in</a>
    </div>
  </div>
</div>